name: Build and Release

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - run: npm ci
      - run: npm run build
      - run: npm prune --production
      - run: zip -r release.zip .next public package.json package-lock.json node_modules server.js
      - uses: actions/upload-artifact@v3
        with:
          name: release
          path: release.zip
